# IntelliJ
.idea/
*.iml

# Java / Spring Boot
.gradle/
build/
target/
out/
*.class

# Log file
*.log

# Environment variables / secrets
.env
*.env
application-local.properties

# Node / React
node_modules/
dist/
frontend/build/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/